.About {
    width: 85%;
    height: 100%;
    position: relative;
    // top: 100px;
    left: 5%;
    // overflow: scroll;
    p {
        margin: 0;
        padding: 0;
    };
    .text_entry {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
        p {
            white-space: pre;
        }
    }
}

.about_me {
    padding: 15px 0 15px 0 !important;
}