@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.card {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    .image {
        overflow: hidden;
        margin: 0;
        box-sizing: border-box;
        padding: 0;

        img {
            border-radius: 15px;
            overflow: hidden;
            max-width: calc(100% - 6px);
            margin: 0 3px;
            height: auto;
            max-height: 60vh;
            object-fit: cover;
        }
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        // width: 90%;
        padding-top: 5px;
        box-sizing: border-box;
        @include sm-max {
            padding-top: 15px;
            // max-width: 80%;
        }
        * {
            text-align: center;
        }
    }
}
