@import "../../sassStyles/variables.scss";
@import "../../sassStyles/breakpoints.scss";

.scrollDiv {
    position: fixed;
    height: 40vw;
    min-height: 500px;
    min-width: 500px;
    width: 40vw;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: $grey;
    border-radius: 50%;
    overflow: hidden;

    @include sm-max {
        top: 50%;
        left: 50%;
        opacity: 0.3;
        min-height: 500px;
        min-width: 500px;
    }

    @include xl-max {
        min-height: 500px;
        min-width: 500px;
        height: 500px;
        width: 500px;
    }

    @include hi-res {
        min-height: 500px;
        min-width: 500px;
        height: 500px;
        width: 500px;
    }

    @include lg-max {
        min-height: 400px;
        min-width: 400px;
        height: 400px;
        width: 400px;
    }

    @include sm-max {
        top: 50%;
        left: 50%;
        opacity: 0.3;
        min-height: 500px;
        min-width: 500px;
    }

    .inner {
        position: absolute;
        height: 100%;
        width: 100%;
        display : flex;
        justify-content: center;
        align-items: center;
        svg {
            position: absolute;
        }
    }
}
