@import url('../../sassStyles/_animations.scss');

#input {
    padding: 0;
    margin: 0;
    font-family: inherit;
    position: absolute;
    vertical-align: bottom;
    top: 0;
    left: 0;
    width: 100%;
    &::placeholder{
    color: rgb(153, 153, 153);
  }
    border: none;
    background-color: var(--background);
    font-size: 30px;
    &:focus {
        outline: none;
    };
    caret-color: rgba(0, 0, 0, 0);
}

#textarea {
  padding: 0;
  margin: 0;
  font-family: inherit;
  position: absolute;
  vertical-align: bottom;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 85vw;
  &::placeholder{
    color: rgb(153, 153, 153);
  }
  border: none;
  background-color: var(--background);
  font-size: 30px;
  &:focus {
      outline: none;
  };
  caret-color: rgba(0, 0, 0, 0);
  resize: none;
}

#label {
  display: inline-block;
  position: relative;
  min-width: fit-content;
  min-height: 24px;
}

#span {
  white-space: break-space;
  width: 100%;
  max-width: 84vw;
  height: max-content;
  overflow-wrap: anywhere;
}

.span-before:before {  
  content: '';
  display: inline-block;
  width: 18px;
  height: 10px;
  vertical-align: middle;
  position: relative;
  padding: 0 0 0 0;
  margin: 0 0 -25px -19px;
  bottom: 8px;
  left: 19px;
  background: var(--content);
  animation: blink 1s steps(2, start) infinite;
  -moz-animation: blink 1s steps(2, start) infinite;
  -webkit-animation: blink 1s steps(2, start) infinite;
  z-index: 90;
}

.span-after:after {  
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  vertical-align: middle;
  position: relative;
  padding: 0 0 0 0;
  margin: 0 0 -25px -19px;
  bottom: 8px;
  left: 20px;
  background: var(--content);
  animation: blink 1s steps(2, start) infinite;
  -moz-animation: blink 1s steps(2, start) infinite;
  -webkit-animation: blink 1s steps(2, start) infinite;
  z-index: 90;
}

@media screen and (max-width: 600px) {
  .span-after:after {
    content: '';
    width: 12px;
    height: 5px;
    margin: 0 0 -20px -12px;
    bottom: 4px;
    left: 12px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  
  .span-before:before {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    content: '';
    width: 12px;
    height: 5px;
    margin: 0 0 -20px -12px;
    bottom: 4px;
    left: 12px;
  }
}