@import '../../sassStyles/variables.scss';

.hamburger{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    margin: 15px 5% 0 0;
}

.burger{
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: $white;
    transform-origin: 1px;
    transition: all 0.3s linear;
    z-index: 105;
}

.burger1{
    transform: rotate(0deg);
}

.b1open {
    transform: rotate(45deg);
}

.burger2{
    transform: translateX(0);
    opacity: 1;
}

.b2open {
    transform: translateX(100%);
    opacity: 0;
}

.burger3{
    transform: rotate(0);
}

.b3open {
    transform: rotate(-45deg);
}

@media screen and (min-width: 600px) {
    .hamburger {
        display: none;
    }
}