@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500&display=swap');

$poppins: "Poppins", Helvetica, sans-serif;
$montserrat: "Montserrat", Helvetica, sans-serif;

$grey: #747474;
$blue: #3E5B79;
$blueOpaq: #51769e7c;
$yellow: #E3B13E;
$red: #d13f3f;
$white: #EFEDE4;
$hover: #92918b;