:root {
    --background: rgb(26, 26, 26);
    --content: rgb(233, 233, 233);
}

.Contact {
    width: 85%;
    height: 100%;
    position: relative;
    top: 100px;
    left: 5%;
    overflow: hidden;
}

.Contact > .text_entry {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
}

#entry_form {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: flex-start;
}

#entry_form > div > * {
    margin: 0;
    padding: 0;
}

#name_entry, #email_entry, #msg_entry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.entry_prompt {
    white-space: pre;
}

.filler_prompt {
    color: rgb(153, 153, 153)
}

.Contact > .text_entry > p {
    white-space: pre;
}

.Contact > .text_entry > p, .Contact > p {
    position: relative;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

