@import "../../sassStyles/variables.scss";
@import "../../sassStyles/breakpoints.scss";

.contact {
  position: relative;
  scroll-snap-align: start;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  font-family: $montserrat;
  font-weight: bold;
  font-style: normal;

  display: flex;
  align-items: center;

  @include sm-max {
    height: auto;
    align-items: flex-start;
    padding: 75px 0;
  }

  .inner {
    @include sm-max {
      // padding-top: 75px;
      width: 100%;
    }
    h1 {
      font-size: 64px;
      line-height: 78px;
      letter-spacing: -0.035em;
      padding: 0 0 30px 0;
      @include sm-max {
        font-size: 36px;
        line-height: 30px;
        letter-spacing: -0.065em;
        padding: 0;
      }
    }

    .entryForm {
      display: grid;
      justify-items: stretch;
      row-gap: 25px;
      column-gap: 35px;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas:
        "fname lname"
        "email phone"
        "message message"
        "submit submit";

      @include sm-max {
        grid-template-areas:
          "fname"
          "lname"
          "email"
          "phone"
          "message"
          "submit";
        row-gap: 5px;
        width: 100%;
      }

      label {
        font-size: 24px;
        line-height: 38px;
        color: $white;
        overflow-wrap: break-word;
        @include sm-max {
          font-size: 18px;
          line-height: 0.2;
          letter-spacing: -0.065em;
        }
      }

      button {
        width: 165px;
        height: 62px;

        font-family: $montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: -0.035em;
        color: $white;

        background: $yellow;
        box-shadow: 0px 8px 7px 2px rgba(0, 0, 0, 0.125);
        border-radius: 15px;
        border: none;

        &:hover,
        &:focus {
          transform: scale(1.05);
          cursor: pointer;
        }
      }

      input {
        height: 62px;
        width: calc(100% - 25px);
        @include sm-max {
          height: 45px;
        }
      }

      textarea {
        height: 300px;
        padding: 18px 19px !important;
        box-sizing: border-box;
        width: 100%;
        resize: none;
        @include sm-max {
          padding: 12px !important;
          height: 200px;
        }
      }

      input,
      textarea {
        padding: 0 19px;
        background: rgba(239, 237, 228, 0.2);
        box-shadow: 0px 8px 7px 2px rgba(0, 0, 0, 0.125);
        border-radius: 15px;
        border: none;

        color: #efede4;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.035em;

        &::placeholder {
          color: #efede45b;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 300;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: -0.035em;
        }

        &:hover,
        &:focus {
          outline: none;
        }

        @include sm-max {
          padding: 0 12px;
          border-radius: 6px;
          background: $blueOpaq;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.035em;
          &::placeholder {
            color: #efede45b;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.035em;
          }
        }
      }

      .fnameEntry {
        grid-area: fname;
      }
      .lnameEntry {
        grid-area: lname;
      }
      .emailEntry {
        grid-area: email;
      }
      .phoneEntry {
        grid-area: phone;
      }
      .msgEntry {
        grid-area: message;
      }
      .submit {
        justify-self: center;
        grid-area: submit;
      }
      .error {
        color: $yellow;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.035em;
      }
    }
  }
}
