@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.contact {
  position: relative;
  scroll-snap-align: start;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  font-family: $montserrat;
  font-weight: bold;
  font-style: normal;

  display: flex;
  align-items: center;

  @include sm-max {
    height: auto;
    align-items: flex-start;
    padding: 75px 0 90px 0;
  }
}

.inner {
  width: 100%;

  h2 {
    padding-bottom: 5px;
  }

  .success {
    padding: 35px 0;
    width: 100%;
  }

  .entryForm {
    display: flex;
    flex-direction: column;
    .formGroup {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      flex: 1;
      overflow: hidden;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0625);

    }
    .formRow {
      display: flex;
      flex-direction: row;
      gap: 10px;
      @include sm-max {
        flex-direction: column;
        // gap: 15pxpx;
      }
    }

    @include xl-max {
      row-gap: 5px;
    }

    @include hi-res {
      row-gap: 5px;
    }

    label {
      font-family: $montserrat;
      font-size: 24px;
      line-height: 38px;
      color: $white;
      overflow-wrap: break-word;

      @include xl-max {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.065em;
      }

      @include hi-res {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.065em;
      }

      @include sm-max {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.065em;
      }
    }

    .submit {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 10px;

      button {
        position: relative;

        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.0625);
        background-color: $yellow;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 300px;
        height: 62px;
        padding: 0 35px;
        border-radius: 31px;
        border: none;

        transition: all 0.25s linear;
        cursor: pointer;

        color: $white;

        &:hover,
        &:focus {
          transform: scale(1.025);
        }

        @include sm-max {
          width: 200px;
          height: 50px;
          border-radius: 25px;
        }
      }
    }

    input {
      height: 62px;
      padding: 5px 16px 0 16px;

      @include xl-max {
        height: 45px;
      }
      @include hi-res {
        height: 45px;
      }
      @include sm-max {
        height: 45px;
        width: calc(100% - 25px);
      }
      &:hover {
        padding: 5px 12px 0 20px;
      }
    }

    textarea {
      height: 300px;
      padding: 10px 16px;
      box-sizing: border-box;
      resize: none;

      @include xl-max {
        height: 200px;
      }

      @include hi-res {
        height: 200px;
      }

      @include md-max {
      }

      @include sm-max {
        padding: 16px;
        height: 200px;
      }

      &:hover {
        padding: 10px 12px 10px 20px;
      }
    }

    input,
    textarea {
      width: 100%;
      background: rgba(239, 237, 228, 0.2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0625);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: none;
      border-bottom: 5px rgba(0, 0, 0, 0) solid;
      box-sizing: border-box;

      color: $white;
      font-family: $montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.035em;

      transition: all 0.25s linear;

      &::placeholder {
        color: #efede45b;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.035em;
      }

      &:hover,
      &:focus {
        outline: none;
        border-bottom: 5px $yellow solid;
      }

      @include xl-max {
        background: $blueOpaq;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.035em;
        &::placeholder {
          color: #efede45b;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.035em;
        }
      }
      @include hi-res {
        background: $blueOpaq;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.035em;
        &::placeholder {
          color: #efede45b;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.035em;
        }
      }
      @include sm-max {
        padding: 5px 16px 0 16px;
        background: $blueOpaq;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.035em;
        &::placeholder {
          color: #efede45b;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.035em;
        }
      }
    }

    .error {
      height: auto;
      width: 100%;
      color: $red;
      font-family: $montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.035em;

      @include sm-max {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.035em;
      }

      @include xl-max {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.035em;
      }

      @include hi-res {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.035em;
      }
    }
  }
}
