@import "../../sassStyles/variables.scss";
@import "../../sassStyles/breakpoints.scss";

.contact {
  position: relative;
  scroll-snap-align: start;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  font-family: $montserrat;
  font-weight: bold;
  font-style: normal;

  display: flex;
  align-items: center;

  @include sm-max {
    height: auto;
    align-items: flex-start;
    padding: 75px 0 90px 0;
  }

  .inner {
    @include sm-max {
      // padding-top: 75px;
      width: 100%;
    }
    h1 {
      font-size: 64px;
      line-height: 78px;
      letter-spacing: -0.035em;
      padding: 0 0 30px 0;
      justify-self: flex-start;

      @include xl-max {
        font-size: 54px;
        line-height: 50px;
        letter-spacing: -0.065em;
        padding: 0;
      }
      @include hi-res {
        font-size: 54px;
        line-height: 50px;
        letter-spacing: -0.065em;
        padding: 0;
      }
      @include md-max {
        font-size: 36px;
        line-height: 30px;
        letter-spacing: -0.065em;
        padding: 0;
      }
      @include sm-max {
        font-size: 36px;
        line-height: 30px;
        letter-spacing: -0.065em;
        padding: 0;
      }
    }

    h2 {
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -0.035em;
      color: $yellow;

      @include xl-max {
        font-size: 36px;
        line-height: 30px;
        letter-spacing: -0.065em;
      }
      @include hi-res {
        font-size: 36px;
        line-height: 30px;
        letter-spacing: -0.065em;
      }
      @include sm-max {
        font-size: 36px;
        line-height: 30px;
        letter-spacing: -0.065em;
      }
    }

    p {
      font-size: 38px;
      line-height: 38px;
      letter-spacing: -0.035em;
      height: auto;

      @include xl-max {
        font-size: 26px;
        line-height: 26px;
        letter-spacing: -0.065em;
      }

      @include hi-res {
        font-size: 26px;
        line-height: 26px;
        letter-spacing: -0.065em;
      }

      @include lg-max {
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -0.065em;
      }

      @include sm-max {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.065em;
      }
    }
    .error {
      height: auto;
      width: 100%;
    }

    .success {
      padding: 35px 0;
      width: 100%;
    }

    .entryForm {
      display: grid;
      row-gap: 25px;
      column-gap: 35px;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas:
        "fname lname"
        "email phone"
        "message message"
        "submit submit";

      @include xl-max {
        row-gap: 5px;
      }

      @include hi-res {
        row-gap: 5px;
      }

      @include sm-max {
        grid-template-areas:
          "fname"
          "lname"
          "email"
          "phone"
          "message"
          "submit";
        row-gap: 5px;
        width: 100%;
      }

      label {
        font-size: 24px;
        line-height: 38px;
        color: $white;
        overflow-wrap: break-word;
        @include xl-max {
          font-size: 18px;
          line-height: 0.2;
          letter-spacing: -0.065em;
        }

        @include hi-res {
          font-size: 18px;
          line-height: 0.2;
          letter-spacing: -0.065em;
        }

        @include sm-max {
          font-size: 18px;
          line-height: 0.2;
          letter-spacing: -0.065em;
        }
      }

      .submit {
        box-shadow: 0px 8px 7px 2px rgba(0, 0, 0, 0.125);
        position: relative;
        background-color: $yellow;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        grid-area: submit;
        width: auto;
        height: 62px;
        padding: 0 35px;
        transition: all 0.25s linear;
        cursor: pointer;

        &:hover,
        &:focus {
          transform: scale(1.05);
        }
      }

      @keyframes ldio-wqiqdcunxe {
        0% {
          opacity: 1;
          backface-visibility: hidden;
          transform: translateZ(0) scale(1.5, 1.5);
        }
        100% {
          opacity: 0;
          backface-visibility: hidden;
          transform: translateZ(0) scale(1, 1);
        }
      }
      .ldioWqiqdcunxe div > div {
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $white;
        animation: ldio-wqiqdcunxe 1s linear infinite;
      }
      .ldioWqiqdcunxe div:nth-child(1) > div {
        left: 148px;
        top: 88px;
        animation-delay: -0.875s;
      }
      .ldioWqiqdcunxe > div:nth-child(1) {
        transform: rotate(0deg);
        transform-origin: 160px 100px;
      }
      .ldioWqiqdcunxe div:nth-child(2) > div {
        left: 130px;
        top: 130px;
        animation-delay: -0.75s;
      }
      .ldioWqiqdcunxe > div:nth-child(2) {
        transform: rotate(45deg);
        transform-origin: 142px 142px;
      }
      .ldioWqiqdcunxe div:nth-child(3) > div {
        left: 88px;
        top: 148px;
        animation-delay: -0.625s;
      }
      .ldioWqiqdcunxe > div:nth-child(3) {
        transform: rotate(90deg);
        transform-origin: 100px 160px;
      }
      .ldioWqiqdcunxe div:nth-child(4) > div {
        left: 46px;
        top: 130px;
        animation-delay: -0.5s;
      }
      .ldioWqiqdcunxe > div:nth-child(4) {
        transform: rotate(135deg);
        transform-origin: 58px 142px;
      }
      .ldioWqiqdcunxe div:nth-child(5) > div {
        left: 28px;
        top: 88px;
        animation-delay: -0.375s;
      }
      .ldioWqiqdcunxe > div:nth-child(5) {
        transform: rotate(180deg);
        transform-origin: 40px 100px;
      }
      .ldioWqiqdcunxe div:nth-child(6) > div {
        left: 46px;
        top: 46px;
        animation-delay: -0.25s;
      }
      .ldioWqiqdcunxe > div:nth-child(6) {
        transform: rotate(225deg);
        transform-origin: 58px 58px;
      }
      .ldioWqiqdcunxe div:nth-child(7) > div {
        left: 88px;
        top: 28px;
        animation-delay: -0.125s;
      }
      .ldioWqiqdcunxe > div:nth-child(7) {
        transform: rotate(270deg);
        transform-origin: 100px 40px;
      }
      .ldioWqiqdcunxe div:nth-child(8) > div {
        left: 130px;
        top: 46px;
        animation-delay: 0s;
      }
      .ldioWqiqdcunxe > div:nth-child(8) {
        transform: rotate(315deg);
        transform-origin: 142px 58px;
      }
      .spinner {
        width: 50px;
        height: 50px;
        display: inline-block;
        overflow: hidden;
        background: rgba(0, 0, 0, 0);
      }
      .ldioWqiqdcunxe {
        width: auto;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(0.25);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
      }
      .ldioWqiqdcunxe div {
        box-sizing: content-box;
      }

      button {
        width: 95%;
        height: 87%;

        font-family: $montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: -0.035em;
        color: $white;

        background: $yellow;
        border-radius: 15px;
        border: none;
        transition: all 0.25s linear;

        z-index: 2;

        cursor: pointer;
      }

      input {
        height: 62px;

        @include xl-max {
          height: 45px;
        }
        @include hi-res {
          height: 45px;
        }
        @include sm-max {
          height: 45px;
          width: calc(100% - 25px);
        }
      }

      textarea {
        height: 300px;
        padding: 18px 19px !important;
        box-sizing: border-box;
        width: 100%;
        resize: none;

        @include xl-max {
          padding: 12px !important;
          height: 200px;
        }

        @include hi-res {
          padding: 12px !important;
          height: 200px;
        }

        @include md-max {
        }

        @include sm-max {
          padding: 12px !important;
          height: 200px;
        }
      }

      input,
      textarea {
        padding: 0 19px;
        background: rgba(239, 237, 228, 0.2);
        box-shadow: 0px 8px 7px 2px rgba(0, 0, 0, 0.125);
        border-radius: 15px;
        border: none;

        color: #efede4;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.035em;

        &::placeholder {
          color: #efede45b;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 300;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: -0.035em;
        }

        &:hover,
        &:focus {
          outline: none;
        }

        @include xl-max {
          padding: 0 12px;
          border-radius: 6px;
          background: $blueOpaq;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.035em;
          &::placeholder {
            color: #efede45b;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.035em;
          }
        }
        @include hi-res {
          padding: 0 12px;
          border-radius: 6px;
          background: $blueOpaq;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.035em;
          &::placeholder {
            color: #efede45b;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.035em;
          }
        }
        @include sm-max {
          padding: 0 12px;
          border-radius: 6px;
          background: $blueOpaq;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.035em;
          &::placeholder {
            color: #efede45b;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.035em;
          }
        }
      }

      .fnameEntry {
        grid-area: fname;
      }
      .lnameEntry {
        grid-area: lname;
      }
      .emailEntry {
        grid-area: email;
      }
      .phoneEntry {
        grid-area: phone;
      }
      .msgEntry {
        grid-area: message;
      }
      .error {
        color: $yellow;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.035em;

        @include sm-max {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.035em;
        }

        @include xl-max {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.035em;
        }

        @include hi-res {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.035em;
        }
      }
    }
  }
}
