:root {
    --background: rgb(26, 26, 26);
    --content: rgb(233, 233, 233);
}

.Home {
    width: 85%;
    height: 100%;
    position: relative;
    top: 100px;
    left: 5%;
    overflow: hidden;
}

.Home > p {
    font-size: 35px;
}
