:root {
    --background: rgb(26, 26, 26);
    --content: rgb(233, 233, 233);
}

.About {
    width: 85%;
    height: 100%;
    position: relative;
    top: 100px;
    left: 5%;
    overflow: hidden;
}

.About>.text_entry {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    
}

.About > .text_entry > p {
    white-space: pre;
}

.About > .text_entry > p, .About > p {
    position: relative;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
