.bash_command {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    p {
        white-space: pre;
        position: relative;
        margin: 0;
        padding: 0;
    }
};

.after:after {  
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  vertical-align: middle;
  position: relative;
  padding: 0 0 0 0;
  margin: 0 0 -25px -19px;
  bottom: 8px;
  left: 20px;
  background: var(--content);
  animation: blink 1s steps(2, start) infinite;
  -moz-animation: blink 1s steps(2, start) infinite;
  -webkit-animation: blink 1s steps(2, start) infinite;
  z-index: 105;
}

.user {
    color: rgb(48, 199, 106);
  }
  
  .bash_prefix {
    color: rgb(61, 122, 235);
  }