#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    padding-top: 25px;
}

#header
    {
        button {
        color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
}

.logo {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 5%;
    transition: all 0.5s ease-in-out;
    z-index: 105;
}

#hamburger {
    z-index: 105;
}

.logo:hover {
    animation: spinLogo 0.5s ease-in-out;
}

#themeToggle {
    padding: 5px 0 0 10px;
    cursor: pointer;
}


#navWrapper {
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 90;
}

#nav {
    .text_entry {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 30px;
        margin-right: auto;
        left: 5%;
        top: 75px;
    }
}


@media screen and (min-width: 600px) {
    #hamburger {
        display: none;
    }

    #navList {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0px;
        list-style-type: none;
        margin-right: 5%;
        height: auto;
        li {
            a {
                text-decoration: none;
                text-align: center;
                font-weight: 400;
                padding: 0.6rem;
                margin: 0.4rem;
                transition: all 0.5s ease-out;
            };
            a:hover {
                background-color: var(--hover);
                border-radius: 15%
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #navWrapper.open {
        top: 100%;
    }

    #navWrapper {
        top: -1000%;
        padding: 125px 0 25px 0;
        margin-top: -75px;
        background-color: var(--background);
    }

    #navList {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 2rem;
        list-style-type: none;
        right: 0;
        width: 100%;
        height: auto;
        transition: all 0.5s ease-out;
        z-index: 95;
        li {
            a {
                text-decoration: none;
                text-align: center;
                font-weight: 400;
                padding: 0.6rem;
                margin: 0.5rem;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}