@import "../../sassStyles/variables.scss";

.blogMenu {
    position: fixed;
    height: calc(100vh - 50px);
    left: 0;
    top: 0;
    width: 300px;
    padding: 25px;
    background: $blue;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;

        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;

        svg {
            height: 50px;
            width: auto;
        }
        h2 {
            font-family: $montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 24px;
        }
    }

    .nav {
        flex: none;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
    }

    .footer {
        width: 100%;
        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
        svg {
            height: 25px;
            width: auto;
        }
    }
}
