@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.inner {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    h2 {
        flex-grow: 0;
    }
    .carousel {
        flex-grow: 1;
        position: relative;
        // width: 100%;
        // height: 100%;
        box-sizing: border-box;
        background: rgba(239, 237, 228, 0.2);
        border-radius: 25px;
        padding: 20px;
        @include sm-max {
            padding: 15px;
        }
    }
}