@import '../../sassStyles/breakpoints.scss';
@import '../../sassStyles/variables.scss';

.footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 25px;
    width: 100%;
    background-color: $blue;
    padding: 20px 0 25px 0;
    bottom: 0;
    z-index: 105;
    li {
        margin-top: 2px;
        width: 25px;
        height: 100%;
        path {
            fill: $white;
            transition: all 0.25s ease-in-out;
  
        }
        &:hover {
            path {
                fill: $hover;
            }
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 25px;
        z-index: 105;
        gap: 30px;
        a {
            background-color: rgba(0, 0, 0, 0);
            border-radius: 10%;
            border: none;
            margin: 0;
            padding: 0;
            height: 100%;
            cursor: pointer;
            transition: all 0.5s linear;
        };
    }
  }

@media screen and (max-width: 600px) {
    .footer {
        padding: 15px 0 35px 0;
        justify-content: center;
    }
}

@media screen and (min-width: 600px) {
    .footer {
        ul {
            margin-left: 5%
        }
    }
}
