.pageNotFound {
    width: 85%;
    height: 100%;
    position: relative;
    top: 100px;
    left: 5%;
    overflow: hidden;
    p {
        position: relative;
        margin: 0;
        padding: 0;
    }

}