@import url('./sassStyles/_animations.scss');

* {
  font-family: Lucida Console, monospace;
  color: var(--content);
  fill: var(--content);
  transition: all 0.5s;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.App {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content { 
  position: absolute;
  margin: 100px 5% 70px 5%;
  padding-bottom: 90px;
}

@media screen and (max-width: 600px) {
  .content {
    margin: 100px 5% 100px 5%;
  }
  
}
