@import "./sassStyles/animations.scss";
@import "./sassStyles/variables.scss";
@import "./sassStyles/breakpoints.scss";

* {
  font-family: $montserrat;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
svg,
a {
  color: $white;
  fill: $white;
}

.App {
  background-color: $blue;
  height: auto;
  width: 100vw;
  position: relative;
  overflow: hidden;
  @include sm-max {
    padding-bottom: 0px;
  }
}

.content {
  position: relative;
  scroll-snap-type: mandatory;
  width: 44%;
  left: 50%;
  height: auto;

  @include hi-res {
    width: 45%;
    left: 45%;
  }

  @include sm-max {
    left: 7.5%;
    width: 85%;
    height: auto;
  }
}
