@import "./styles/animations.scss";
@import "./styles/variables.scss";
@import "./styles/breakpoints.scss";

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.App {
  background-color: $blue;
  height: auto;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.content {
  position: relative;
  width: 55%;
  margin-left: auto; 
  margin-right: 0;
  height: auto;

  @include hi-res {
    width: 45%;
    left: 45%;
  }

  @include lg-max {
    width: 100%;
    margin: 0;
    height: auto;
  }
}
